extends layout

block content
  div.example-page
    div.example-page--container
      div
        h1= title
        p Welcome to #{title}
        button.red-btn
          span.icon.icon-back
          |  button
        h1 Header2 
        h2 Header 2
        h3 Header 3
        h4 Header 4
        h5 Header 5
        h6 Header 6
        p paragraph
      div.example-page--left-side
        h1 Header 1
        h2 Header 2
        h3 Header 3
        h4 Header 4
        h5 Header 5
        h6 Header 6
        p paragraph
